
.layout .layout__horizontal {
  background: url('/bg-image.jpg');
  /* background: url('https://images.unsplash.com/photo-1616531770192-6eaea74c2456?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=870'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}